<nav id="sidebar" >

  <!-- En tete Sidebar -->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
      <img src="https://newspacerevolution.files.wordpress.com/2018/03/stephen-hawking.jpg?w=256&h=256&crop=1" alt="avatar" class="img-fluid rounded-circle">   
    </div>
    <div class="title">
      <h1 class="h5">Stephen Hawking</h1>
      <p>Genius</p>
    </div>
  </div>

  <!-- Separation Entete Menu -->
  <span class="heading">Test</span>

  <!-- Menu -->
  <ul class="list-unstyled">
      <li class="active"><a href="#"> <i class="icon-home"></i>Accueil </a></li>
      <li><a href="#"> <i class="icon-grid"></i>Tables </a></li>
      <li><a href="#"> <i class="fa fa-bar-chart"></i>Bilan </a></li>
      <li><a href="#"> <i class="icon-padnote"></i>Demandes </a></li>
      <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Example </a>
        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
          <li><a href="#">test1</a></li>
          <li><a href="#">test2</a></li>
          <li><a href="#">test3</a></li>
        </ul>
      </li>
      <li><a href="#"> <i class="fas fa-plus-square"></i>Creer </a></li>
  </ul>
</nav>