<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">
          <div class="brand-text brand-big visible text-uppercase">
            <strong class="text-primary">Dark</strong>
            <strong>Admin</strong>
          </div>
          <div class="brand-text brand-sm">
            <strong class="text-primary">D</strong>
            <strong>A</strong>
          </div>
        </a>
        <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
      </div>
      <div class="right-menu list-inline no-margin-bottom">
        <div class="list-inline-item dropdown">
          <a id="settings" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link setting dropdown-toggle"><span class="d-none d-sm-inline-block"><i class="fa fa-user-circle-o"></i> Jean Dupont</span></a>
          <div aria-labelledby="settings" class="dropdown-menu">
            <a rel="nofollow" href="#" class="dropdown-item"> <span>Modifier Profil</span></a>
            <a rel="nofollow" href="#" class="dropdown-item"> <span>Confidentialité</span></a>
            <a rel="nofollow" href="#" class="dropdown-item"> <span>Quitter</span></a>
          </div>
        </div>
        <div class="list-inline-item logout">
          <a href="#" id="logout" class="nav-link">Logout <i class="icon-logout"></i></a>
        </div>
      </div>
    </div>
  </nav>
</header>