<app-navbar></app-navbar>
<div class="d-flex align-items-stretch"><app-sidebar></app-sidebar><app-pagecontent></app-pagecontent></div>


<!-- <app-navbar></app-navbar> -->
 <!--
  <nav id="sidebar" >
    <div class="sidebar-header d-flex align-items-center">
      <div class="avatar">
        <img src="https://newspacerevolution.files.wordpress.com/2018/03/stephen-hawking.jpg?w=256&h=256&crop=1" alt="avatar" class="img-fluid rounded-circle">   
      </div>
      <div class="title">
        <h1 class="h5">Stephen Hawking</h1>
        <p>Genius</p>
      </div>
    </div>
    <span class="heading">Test</span>
    <ul class="list-unstyled">
        <li class="active"><a href="#"> <i class="icon-home"></i>Accueil </a></li>
        <li><a href="#"> <i class="icon-grid"></i>Tables </a></li>
        <li><a href="#"> <i class="fa fa-bar-chart"></i>Bilan </a></li>
        <li><a href="#"> <i class="icon-padnote"></i>Demandes </a></li>
        <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Example </a>
          <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
            <li><a href="#">Test1</a></li>
            <li><a href="#">Test2</a></li>
            <li><a href="#">Test3</a></li>
          </ul>
        </li>
        <li><a href="#"> <i class="fas fa-plus-square"></i>Créer Test </a></li>
    </ul>
  </nav> 
-->

<!--
  <app-pagecontent></app-pagecontent> 
-->
  <!--
  <div class="page-content">
    <div class="page-header">
      <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Dashboard</h2>
      </div>
    </div>
  -->
  <!--
   <app-footer></app-footer> 
  -->
  <!--
   <footer class="footer">
    <div class="footer__block block no-margin-bottom">
      <div class="container-fluid text-center">
        <p class="no-margin-bottom">2018</a>.</p>
      </div>
    </div>
  </footer>
  
  </div> -->
  <!--
</div>
-->

